/* Information give as by the Businesses */
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
  /* justify-content: center; */
  padding-top: 50px;
  color: #193859;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.info h1 {
  margin: 0;
  padding: 10px 0;
}
.cardaLike {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.cardcontent {
  width: 33.333%;
  padding: 1px 20px;
  text-align: center;
}
.cardcontent p {
  padding-top: 10px;
  width: 100%;
  line-height: 1.5;
}
.cardcontent .flagIcon {
  font-size: 80px;
  margin-bottom: 5px;
}
